.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.danmuContainer {
  width: 400px;
  height: 800px;
}

.danmuContainer div {
  overflow-y: auto;
  color: white;
  height: inherit;
}
